body{
	background-color: #F0F0F0;
}
#divider{
	color: darkgray; 
	line-height: 20px; 
	font-size: 20px; 
	display: block; 
	padding: 13px 1px;
 }
#logo{
	margin-top: -16px;
}
#main-body{
	background-color: rgba(0, 0, 0, 0.71);
	z-index: 100;
	position:absolute; 
	top:60px;
	left: 4%;
}
#myCarousel{
  margin-top: -20px;
}
#cars{
	z-index: -1;
}
#searchform-form{
	color: white;
	padding: 30px
}
H1, H4{
	padding: 10px;
	padding-left: 30px;
	padding-bottom: 0px;
}
.container-full {
  margin: 0 auto;
  width: 100%;
}
#alert-holder{
	display: none;
}
@media(max-width: 768px){
	#main-body{
		position:absolute;
		top: 20px;
		left: 0px;
	}
}
#input-price{
	width: 150px;
}

#popover_content_wrapper{
	display: none;
}

#login-form{
	color: black;
}

#bucket{
	border: 1px solid lightgray;
}

small{
	color: grey;
}

#container-register{
	border-raius-bottom-left: 10px;
	background-color: white;
	padding: 30px;
	-webkit-box-shadow: 0px 10px 16px -5px rgba(0,0,0,0.44);
	-moz-box-shadow: 0px 10px 16px -5px rgba(0,0,0,0.44);
	box-shadow: 0px 10px 16px -5px rgba(0,0,0,0.44);
	border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border: 0px solid #000000;
}

#list-benefits li{
	list-style: none;
	padding: 15px;
	padding-left: 0px;
}
#list-benefits{
	margin-left: 0px;
	padding-left: 0px;
}